<p class="calendar">לוח שנה בחירת תאריכים</p>
<div class="calendar">
  <ngb-datepicker
    class="hebrew rtl"
    #dp
    [(ngModel)]="model"
    [displayMonths]="1"
    [firstDayOfWeek]="7"
    [dayTemplate]="dt"
    [dayTemplateData]="dayTemplateData"
  > </ngb-datepicker>

  <ng-template
    #dt
    let-date
    let-data="data"
    let-selected="selected"
    let-currentMonth="currentMonth"
  >
    <div
      class="hebrew-day"
      [class.outside]="date.month !== currentMonth"
      [class.selected]="isSelected(date)"
      (click)="selectDate(date)" 
    >
      <div class="gregorian-num">
        {{ data.gregorian.day + '/' + data.gregorian.month }}
      </div>
      <div class="hebrew-num">{{ i18n.getDayNumerals(date) }}</div>
    </div>
  </ng-template>

  <hr />
</div >

<!-- אפשרויות נוספות -->
<div class="calendar">
  <button class="btn btn-sm btn-outline-primary me-2  " (click)="model = calendar.getToday()">
    Select Today
  </button>
  <button class="btn btn-sm btn-outline-primary me-2  " (click)="dp.navigateTo()">
    To current month
  </button>
</div>
<hr />

<pre class="calendar">Model: {{ modelList | json }}</pre> <!-- הצגת התאריכים שנבחרו -->


